@import "tailwindcss";

:root {
  --background: #030117;
  /* --foreground: #171717; */
}

.text-gradient{
  @apply bg-gradient-to-r from-[#737373] via-white to-[#737373] bg-clip-text text-transparent inline-block;
}

@theme {
  --color-background: #030117;
  --color-button: #D86A15;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


body {
  background: var(--background);
  font-family: sans-serif;
}
